<html>
  <head>
    <title>Code With Me</title>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/code_with_me_app.js"></script>
  </head>

  <body ng-app="CodeWithMeApp">
    <form class="login" ng-controller="UserCtrl" ng-submit="getUser()" ng-hide="hasUser">
      <input class="username" type="text" ng-model="username" value="">
      <input class="username" type="password" ng-model="password" value="">
      <button ng-click="getUser()">Sign In!</button>
    </form>
    <main class="app-view" ng-controller="MainCtrl" ng-show="hasUser" delegate-click="getRepo($event, $targetScope)" tag-name="li" class-name="repo">
      <ul class="repos" ng-controller="SidePaneCtrl">
        Repos:
        <li class="repo" ng-repeat="repo in repos">
          {{ repo.name }}
        </li>
      </ul>
      <section class="project">
        <ul class="files" ng-show="repo">
          Files for {{ repo.name }}:
          <li class="file" ng-repeat="(key, value) in repo.files" ng-click="subshow = !subshow">
            {{ key }}
            <div tree="file" file="value" subshow='subshow'>

            </div>
            <!-- <ul class="subfiles" ng-show="subshow">
              <li class="file" ng-repeat="file in file" ng-click="subshow = true">
                {{ file.filename }}
              </li>
            </ul> -->
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
